@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
}

.outline-eye {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
}

.inline-eye {
  width: 295px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 40px;
}

.eye-white {
  width: 295px;
  height: 120px;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 35px;
}

.eye-pupil {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  margin: 0 auto;
  animation: move 3s ease-out infinite;
  background: radial-gradient(circle, #b5b5b5 3.6%, #474747 87.6%);
}

.eye-pupil:before {
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: black;
  transform: translate(-50%, -50%);
}

@keyframes moveEye {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* 눈동자를 오른쪽으로 이동 */
  }
  100% {
    transform: translateX(0);
  }
}

.eye-pupil {
  animation: moveEye 4s infinite alternate; /* 무한 반복되는 애니메이션 */
}

.project:nth-child(1),
.project:nth-child(4) {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0) 0%,
    rgba(109, 109, 110) 100%
  );
  color: white;
}

.project:nth-child(2),
.project:nth-child(3) {
  border: 1px solid black;
  color: black;
}

.date:nth-child(1),
.date:nth-child(4) {
  color: #ddd;
}

.white-ball {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
}
